<p id="notice"><%= notice %></p>

<h1>My Clients</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @client_agents.each do |client_agent| %>
      <tr>
        <td><%= client_agent.client.contact.full_name %></td>
        <td><%= client_agent.client.email %></td>
        <td class="actions">
          <%= link_to client_agent.client do %><i class="fa fa-eye fa-2x"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

