<h2>Sign up</h2>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign me up!" %>
  </div>

<% end %>