<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html><head>
<meta charset="UTF-8">
<head>
	<title>Fordyce & Playle</title>

	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

	<style type="text/css">

		p, h2 {
			font-family: 'EB Garamond', serif;
			text-transform: lowercase;
		}

		h2 {
			font-size: 260%;
			color: #000000;
		}

		p {
			line-height: 1.6
		}

		body {
	        margin-left: 0px;
	        margin-top: 0px;
	        margin-right: 0px;
	        margin-bottom: 0px;
		}

		h1 {
			font-size: 200%;
			font-family: 'EB Garamond', serif;
			color: #FFFFFF;
			padding-top: 0px;
			padding-bottom: 0px;
			margin-left: 50px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		table {

		}

		tr.red_bg {
			background-color: #7C1F14
		}

	</style>
</head>
<body >

	<table width="100%" cellspacing="0" cellpadding="10" border="0">
		<tr class="red_bg">
			<td colspan="3">
				<h1>Mortgage|aide</h1>
			</td>
		</tr>
		<tr>
			<td width="15%"></td>
			<td width="70%">
				<table width="100%">
					<td>
						<h2>Hi, <%= @user.email %></h2>
						<% if !@sender.nil? %>
						
							<p><b><%= @sender.contact.full_name %> has registered you to use MortgageAide</b></p>
						
						<% else %>

							<p><b>You have been registered to use MortgageAide</b></p>

						<% end -%>
						<p>Your login credentials are:</p>

						<h3>Username: <%= @user.email %></h3>
						<h3>Password: <%= @password %></h3>
					</td>
				</table>
			</td>
			<td width="15%"></td>
		</tr>
	</table>

</body>