<h2>Hi, <%= @user.email %></h2>

<p><b><%= @sender.contact.full_name %> has registered you to use MortgageAide</b></p>
<p>Your login credentials are:</p>

<h3>Username: <%= @user.email %></h3>
<h3>Password: <%= @password %></h3>


